<div class="pokedex__container">
  <div
    *ngIf="error$ | async as error"
    class="pokedex__container__item pokemon-state--error">
    An error occured, we cannot display pokemons right now. Please try again
    later. Details: {{ error }}
  </div>

  <div class="pokedex__container__items">
    <pkm-pokemon-tile
      *ngFor="let pokemon of pokemons$ | async"
      [pokemon]="pokemon" />
  </div>

  <div *ngIf="isLoading$ | async" class="pokemon-state--loading">
    Loading pokemons, please wait...
  </div>

  <button
    *ngIf="(pokemons$ | async) && (isLoading$ | async) === false"
    class="button pokedex__container__more-button"
    (click)="loadMore()">
    Load more Pokémon
  </button>
</div>
