<div class="pokemon">
  <img
    (click)="openDetailPage()"
    [src]="pokemon.sprites.other['official-artwork'].front_default"
    alt="{{ pokemon.name }}'s official artwork"
    class="pokemon__sprite" />
  <p class="pokemon__number">{{ pokemon.id | pokemonNumber }}</p>

  <h2 class="pokemon__name">{{ pokemon.name }}</h2>
  <ul class="pokemon__types">
    <ng-container *ngFor="let t of pokemon.types">
      <li class="pokemon__type__{{ t.type.name }} pokemon__types__type">
        {{ t.type.name }}
      </li>
    </ng-container>
  </ul>
</div>
